:root {
  --e-main-font: "Roboto Flex";
  --e-font-size-sm: 20px;
  --e-font-size-sm-x: 24px;
  --e-font-size-md: 40px;
  --e-font-size-xxl: 140px;
  --e-color-white: #fff;
  --e-color-black: #141414;
  --e-color-purple: #6300FC;
  --e-color-green: #B6FF11;
  --e-color-dark-grey: #828282;
  --e-color-pink: rgba(99, 0, 252, 0.2);
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
}

body {
  min-height: 100vh;
  font-family: var(--e-main-font);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 70px;
}

.logo--icon {
  max-width: 138px;
  max-height: 138px;
}

.title {
  display: inline-block;
  font-family: var(--e-main-font);
  font-weight: 700;
  font-size: var(--e-font-size-xxl);
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--e-color-black);
}
.title--bordered {
  color: var(--e-color-purple);
  border-bottom: 11px solid var(--e-color-purple);
}

.btn {
  position: relative;
  font-weight: 600;
  font-size: var(--e-font-size-sm);
  line-height: 1.15;
  text-transform: uppercase;
  color: var(--e-color-white);
  background: var(--e-color-purple);
  border-radius: 10px;
  padding: 18.5px 50px;
  z-index: 2;
}
.btn::before, .btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-in-out;
  border-radius: inherit;
}
.btn::before {
  background: var(--e-color-purple);
  z-index: -1;
}
.btn::after {
  top: 10px;
  left: 10px;
  background: var(--e-color-green);
  z-index: -2;
}

.header {
  min-height: 100vh;
  background: url("./../images/header/header_bg.jpg") no-repeat top right/cover;
}
.header__container {
  min-height: inherit;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__container::before, .header__container::after {
  content: "";
  position: absolute;
  bottom: 36px;
  min-width: 310px;
  min-height: 310px;
  border: 2px dashed var(--e-color-purple);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 50%;
}
.header__container::before {
  left: 0;
}
.header__container::after {
  right: 0;
}
.header__logo {
  margin-top: 20px;
  margin-bottom: 87px;
}
.header__content {
  max-width: 952px;
  text-align: center;
}
.header__title {
  margin-bottom: 25px;
}
.header__text {
  max-width: 700px;
  margin: 0 auto;
  font-weight: 400;
  font-size: var(--e-font-size-sm-x);
  line-height: 1.1;
  color: var(--e-color-black);
  margin-bottom: 40px;
}

.footer {
  padding: 63px 0 163px 0;
  background-color: var(--e-color-black);
}
.footer__container {
  display: flex;
}
.footer__logo {
  margin-right: 36px;
}
.footer__info {
  max-width: 1016px;
}
.footer__title {
  font-size: 96px;
  line-height: 1.16;
  color: var(--e-color-white);
  margin-bottom: 70px;
}
.footer__contact {
  display: flex;
}
.footer__contact-title {
  font-size: 64px;
  line-height: 1.17;
  margin-right: 60px;
}
.footer__social-link {
  margin-right: 30px;
}
.footer__social-link:last-child {
  margin-right: 0;
}

.content {
  display: flex;
}
.content__left-side, .content__right-side {
  width: 50%;
}
.content__left-side {
  position: relative;
}
.content__left {
  padding: 20px 0;
}
.content__left-title {
  margin-bottom: 40px;
}
.content__left-block {
  padding: 200px 0 70px 70px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}
.content__left-btn {
  display: block;
  color: var(--q-color-black);
  background: var(--e-color-purple);
}
.content__left-btn::before {
  background: var(--e-color-green);
}
.content__left-btn::after {
  background: var(--e-color-purple);
}
.content__right-side {
  background-color: var(--e-color-purple);
  color: var(--e-color-white);
}
.content__right-card {
  padding: 120px 0 20px 0;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 64px;
}
.content__right-card:nth-child(1) img {
  min-width: 451px;
  min-height: 420px;
}
.content__right-card:nth-child(3) img {
  min-width: 375px;
  min-height: 375px;
}
.content__right-text {
  text-transform: uppercase;
  font-weight: 700;
  font-size: var(--e-font-size-md);
  line-height: 1.175;
  margin-bottom: 30px;
}
.content__right-definition {
  color: var(--e-color-green);
  font-weight: 700;
  font-size: 48px;
  line-height: 1.16;
  margin-bottom: 38px;
}
.content__right-img {
  border-radius: 10px;
}

.levels {
  padding: 40px 0 186px 0;
  background-color: var(--e-color-black);
}
.levels__container {
  max-width: 1010px;
  text-align: center;
}
.levels__title {
  margin-bottom: 90px;
}
.levels__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -20px;
}

.level {
  padding: 8px;
  position: relative;
  max-width: 310px;
  min-width: 310px;
  min-height: 310px;
  border: 2px dashed var(--e-color-purple);
  border-radius: 50%;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: 0.3s ease;
  margin-right: 20px;
}
.level:hover {
  background: var(--e-color-green);
}
.level:hover .level__name {
  color: var(--e-color-purple);
}
.level:hover .level__img, .level:hover .level__description {
  position: relative;
  top: 0;
  left: 0;
  visibility: visible;
  transition: 0.3s ease;
}
.level__name {
  font-size: 30px;
  line-height: 1.16;
  text-transform: uppercase;
  color: var(--e-color-green);
  margin-bottom: 10px;
}
.level__img {
  max-width: 132px;
  max-height: 132px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.level__description {
  max-width: 230px;
  font-size: var(--e-font-size-sm);
  line-height: 1.12;
  color: var(--e-color-black);
}
.level__img, .level__description {
  transition: 0.3s ease;
  overflow: hidden;
  position: absolute;
  top: -100%;
  left: -100%;
  visibility: hidden;
}

.reviews {
  position: relative;
  padding: 100px 0;
}
.reviews::before {
  content: "";
  position: absolute;
  top: -241px;
  left: 143px;
  width: 443px;
  height: 483px;
  background: rgba(126, 252, 0, 0.3);
  filter: blur(200px);
  z-index: -1;
}
.reviews__container {
  text-align: center;
}
.reviews__title {
  margin-bottom: 100px;
}
.reviews__wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1415px) {
  .reviews__wrapper {
    flex-wrap: wrap;
  }
}

@media (max-width: 1415px) {
  .review {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
}
.review__block {
  max-width: 314px;
  display: flex;
  flex-direction: column;
  font-size: var(--e-font-size-md);
  font-weight: 700;
  line-height: 1.175;
}
.review__block-video {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed var(--e-color-purple);
  border-radius: 50%;
  overflow: hidden;
  min-width: 310px;
  min-height: 310px;
  margin-bottom: 20px;
}
.review__block-text {
  color: var(--e-color-black);
  text-transform: uppercase;
}
.review__block-name {
  color: var(--e-color-purple);
  margin-bottom: 10px;
}
.review__block-age {
  font-weight: 500;
  margin-bottom: 10px;
}
.review__block-duration {
  font-weight: 500;
  font-size: var(--e-font-size-sm-x);
  color: var(--e-color-dark-grey);
}

.moderators {
  margin-bottom: 180px;
}
.moderators__title {
  margin-bottom: 76px;
}
.moderators__cards {
  overflow: scroll;
  display: flex;
  justify-content: space-between;
}

.moderator {
  position: relative;
}
.moderator__img {
  min-width: 240px;
  max-width: 240px;
  max-height: 400px;
}
.moderator__name {
  font-weight: 700;
  font-size: 110px;
  text-transform: uppercase;
  color: var(--e-color-pink);
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  transform: rotate(180deg);
  border-left: 9px solid var(--e-color-pink);
}
.moderator__card {
  padding: 8px;
  min-width: 310px;
  max-width: 310px;
  min-height: 482px;
  max-height: 500px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  background: var(--e-color-white);
  border: 1px solid #141414;
  border-radius: 20px;
  overflow: hidden;
}

.map {
  margin-bottom: 60px;
}
.map__title {
  margin-bottom: 80px;
}

.faq {
  margin-bottom: 100px;
}
.faq__container {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.faq__accordion {
  position: relative;
}
.faq__panel {
  min-width: 545px;
  max-width: 545px;
  padding: 31px 0;
  border-top: 1px solid var(--e-color-black);
}
.faq__panel--active .faq__text {
  transition: 0.3s opacity linear;
  position: relative;
  opacity: 1;
  visibility: visible;
}
.faq__panel--active-color {
  border-color: var(--e-color-green);
}
.faq__issue {
  display: flex;
  justify-content: space-between;
}
.faq__question {
  font-size: 32px;
  font-weight: 500;
}
.faq__text {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  max-width: 374px;
  padding-top: 20px;
  font-size: 20px;
}/*# sourceMappingURL=style.css.map */