.reviews
  position: relative
  padding: 100px 0

  &::before
    content: ''
    position: absolute
    top: -241px
    left: 143px
    width: 443px
    height: 483px
    background: rgba(126, 252, 0, 0.3)
    filter: blur(200px)
    z-index: -1

  &__container
    text-align: center

  &__title
    margin-bottom: 100px

  &__wrapper
    display: flex
    justify-content: space-between

    @media (max-width: 1415px)
      flex-wrap: wrap

.review
  @media (max-width: 1415px)
    width: 50%
    display: flex
    align-items: center
    justify-content: center
    margin-bottom: 30px

  &__block
    max-width: 314px
    display: flex
    flex-direction: column
    font-size: var(--e-font-size-md)
    font-weight: 700
    line-height: 1.175

    &-video
      display: flex
      align-items: center
      justify-content: center
      border: 2px dashed var(--e-color-purple)
      border-radius: 50%
      overflow: hidden
      min-width: 310px
      min-height: 310px
      margin-bottom: 20px

    &-text
      color: var(--e-color-black)
      text-transform: uppercase

    &-name
      color: var(--e-color-purple)
      margin-bottom: 10px

    &-age
      font-weight: 500
      margin-bottom: 10px

    &-duration
      font-weight: 500
      font-size: var(--e-font-size-sm-x)
      color: var(--e-color-dark-grey)
